
{% load otree %}
<br>
<h4> {% block title %}Instrucciones{% endblock %} <h4>

{% block content %}
<h4> La presente sesión consta de tres partes:</h4>
<br>
<ul>
    <li> La <b> PARTE I </b> consiste en un cuestionario de comprensión de las instrucciones presentadas. Este está compuesto por cuatro preguntas; por cada respuesta correcta, podrá ganar S/ 0.20. Es decir, podrá ganar hasta S/ 0.80 extra a los S/5.00 que le pagaremos por la participación en la sesión. </li>
    <br>
    <li> La <b> PARTE II </b> consiste en el desarrollo de un cuestionario sobre la compra y el uso de medicamentos, denominado “Cuestionario Principal”. Este, a su vez, se divide en dos secciones:
        <ul>
            <li> En la primera sección, se presentarán cuatro casos hipotéticos para los cuales deberá elegir entre dos opciones de medicamentos presentados, o indicar la disposición a pagar de los medicamentos presentados, según corresponda. </li>
            <li> En la segunda sección, se presentarán nueve enunciados relacionados con la compra de medicamentos. A partir de ellos, deberá indicar qué tan de acuerdo está con dichas afirmaciones. </li>
        </ul>

    <br>
    <li> La <b> PARTE III </b> consiste en una encuesta sobre sus preferencias sobre compras y familiaridad con medicamentos y datos generales
        Cabe resaltar, aunque se solicitó tus datos para la inscripción a la sesión, las respuestas brindadas en la misma serán usadas de forma ANÓNIMA. </li>
</ul>


{% endblock %}